.sidebar {
  height: 100vh;
}

.post-fuck {
  border-color: #2e2e2e !important;
}

.post-alert {
  border-color: #fbc02d !important;
}

.post-thank {
  border-color: #00C851 !important;
}

.post-sorry {
  border-color: #ec407a !important;
}

.location-span {
  position: absolute;
  right: 10px;
  top: 4px;
  color: #999;
}

.row.navbar {
  display: flex;
  justify-content: space-around;
}

.post-creator {
  border-radius: 5px;
}

#post-form {
  border-radius: 10px 10px 0 0;
  padding: 25px;
  margin-bottom: 0;
  background-color: #fff;
}

#save-button {
  margin: 0;
  width: 100%;
}

#post-form-head {
  margin: 10px 0;
  font-weight: 300;
  text-align: center;
}

textarea.form-control::placeholder {
  font-weight: 300;
  color: #ccc;
}
