.sidebar {
  height: 100vh;
}

.header {
  height: 10vh;
}

.post {
  margin: 10px;
  margin-bottom: 20px;
  /*min-width: 335px;*/
}

.post-area {
  padding-top: 10px;
  background-color: white;
}

.post-fuck {
  border-color: #2e2e2e !important;
}

.post-alert {
  border-color: #ff8919 !important;
}

.post-thank {
  border-color: #00c851 !important;
}

.post-sorry {
  border-color: #ec407a !important;
}

.post .card-body {
  border: 3px solid;
  border-radius: 5px;
  border-color: inherit;
  padding: 10px
}

.post .card-title {
  padding-bottom: 4px;
  border-bottom: 1px solid;
  border-color: inherit;
}

.post-created {
  position: absolute;
  bottom: 5px;
  padding: 5px;
  color: #ccc;
  font-weight: 100;
  font-size: 0.7rem;
}

.location-span {
  position: absolute;
  right: 10px;
  top: 4px;
  color: #999;
}

.show-bar {
  padding-left: 0;
  padding-right: 0;
}

.show-bar .btn-group {
  display: flex;
}

.show-bar .btn {
  flex: 1;
}

.show-bar .btn-group :first-child {
  border-top-left-radius: 15px;
}

.show-bar .btn-group :last-child {
  border-top-right-radius: 15px;
}

.sort-bar {
  padding-left: 0;
  padding-right: 0;
}

.sort-bar .btn-group {
  display: flex;
  background-color: #fff;
}
.sort-bar .btn {
  padding-top: 5px;
  padding-bottom: 5px;
  flex: 1;
}


#post-form {
  border-radius: 10px 10px 0 0;
  padding: 25px;
  margin-bottom: 0;
  background-color: #fff;
}

#save-button {
  margin: 0;
  width: 100%;
}

#post-form-head {
  margin: 10px 0;
  font-weight: 300;
  text-align: center;
}

textarea.form-control::placeholder {
  font-weight: 300;
  color: #ccc;
}

.post-creator {
  border-radius: 5px;
}

.row.navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

#id-query, #id-display {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  visibility: hidden;
  display: none;
  background-color: rgba(22,22,22,0.5)
}

#id-query:target, #id-display:target {
    visibility: visible;
    display: block;
}

#id-popup, #id-alert {
  position: relative;
  top: 25%;
  margin: auto;
  display: flex;
  max-width: 500px;
  min-width: 420px;
  border-radius: 10px;
  background-color: white;
  justify-content: center;
  padding: 20px;
}

#id-alert {
  flex-direction: column;
}

.content-area {
  background-color: #33b5e5;
}

.button-area {
  visibility: hidden;
}
